body {
    font-family: "Avenir Next";
}

header {
    background-color: #ffff00;
}

.header_container {
    color: #fff;
    background-color: brown;
    height: 80px;
    padding: 40px;
    margin: 10px 10px 10px 10px;
}

.header_inner {
    font-size: 30px;
}




main {
    font-size: 20px;
    /* margin: 60px 60px 60px 60px; */
    background-color: coral;
}

.document1 {
    /* padding: 10px; */
    /* margin: 20px 20px 20px 20px; */
    font-size: 40px;
    background-color: cornflowerblue;
}

.document1 div {
    font-size: 50px;
    /* margin: 20px 20px 20px 20px; */
    background-color: cornflowerblue;
}

.document2 {
    /* margin: 20px 20px 20px 20px; */
    font-size: 20px;
    background-color:beige;
}



.document2 ul {
    color:red;
    border: red solid;
    border-width: 5px;
    list-style-type: square;
    display: inline-block;
}

.document2 ol {
    color:red;
    list-style-type: upper-latin;
}

.informationofdisplay {
    background-color:greenyellow;
}

.image-vertical li{
    list-style: none;
}

.informationofatagu {
    background-color: whitesmoke;
}

a {
    color:blue;
    text-decoration: none;
}

a:hover {
    color: skyblue;
    font-weight: bold;
}

a:hover img {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}


.image-practice {
    background-color: #ffff00;
}

.inside-span {
    background-color: aquamarine;
    /* color: black; */
}