@charset "UTF-8";

/* common */
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  /* 行の高さの設定 */
  line-height: 1.7;
  color: #432;
  /* 常にスクロールバーを表示 */
  overflow-y: scroll;
}
a {
  /* <a>タブの傍線の指定 */
  text-decoration: none;
}
img {
  /* 画像の大きさの指定 */
  max-width: 100%;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* 大きな背景画像
------------------------------------ */
.big-big {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;
}
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}
/* ボタン */
.button {
  font-size: 1.375rem;
  padding: 18px 32px;
  color: #fff;
  background: #0bd;
  border-radius: 5px;
}
.button:hover {
  background-color: #0090aa;
}
.iframe {
  width: 100%;
}

/* HEADER
----------------------------------------- */
.page-header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 210px;
  margin-top: 14px;
  /* margin-left: 14px; */
}
.main-nav {
  /* 横並びにする */
  display: flex;
  font-size: 1.25rem;
  /* 大文字にする */
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}

/* HOME
--------------------------------- */
.home-content {
  /* 画面の中央に寄せる */
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
#home {
  /* 1 */
  /* background-image: url(../images/main-bg.jpg);
  background-color: #0bd;
  background-blend-mode: hard-light; */
  /* 2 */
  /* background-image: linear-gradient(#c9ffbf, #ffafbd); */
  /* 3 */
  background-image: url(../images/main-bg.jpg),
    linear-gradient(#c9ffbf, #ffafbd);
  background-blend-mode: luminosity;
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}

/* NEWS
---------------------------- */
#news {
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}
#news .page-title {
  text-align: center;
}
.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.ad {
  order: 1;
}

/* 記事部分
-------------------------- */
article {
  width: 60%;
  order: 2;
}
.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
.post-date {
  background-color: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}
.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}
.post-title,
.post-cat {
  margin-left: 120px;
}
article img {
  margin-bottom: 20px;
}
article p {
  margin-bottom: 1rem;
}

/* サイドバー */
aside {
  width: 22%;
  order: 3;
}
.sub-menu {
  margin-bottom: 60px;
  list-style-type: none;
}
.sub-menu li {
  border-bottom: 1px #ddd solid;
}
.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}
.sub-menu a:hover {
  color: #0bd;
}
aside p {
  padding: 12px 10px;
}

/* MENU
------------------------------- */
#menu {
  background-image: url(../images/menu-bg.jpg);
  min-height: 100vh;
}
.menu-content {
  max-width: 560px;
  margin-top: 10%;
}
.menu-content .page-title {
  text-align: center;
}
.menu-content p {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

/* .big-box {
  grid-column: 1/3;
  grid-row: 1 / 3;
}
.big-box img {
  height: 94%;
  width: 100%;
  object-fit: cover;
} */

/* CONTACT
-------------------------------------- */
#contact {
  background-image: url(../images/contact-bg.jpg);
  min-height: 100vh;
}

/* フォーム
------------------------------------ */
form div {
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

/* 店舗情報・地図 */
#location {
  padding: 4% 0;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 74%;
}

/* SNS */
#sns {
  background: #faf7f0;
  padding: 4% 0;
}
#sns .wrapper {
  display: flex;
  justify-content: space-between;
}
#sns .sub-title {
  margin-bottom: 30px;
}
.sns-box {
  width: 30%;
}

/* フッター
-------------------------- */
footer {
  background-color: #432;
  text-align: center;
  padding: 26px 0;
  /* margin-top: 50px; */
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* モバイル版
--------------------------------- */
@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }

  /* HEADER */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }

  /* HOME */
  .home-content {
    margin-top: 20%;
  }

  /* NEWS */
  .news-contents {
    flex-direction: column;
  }
  #news .page-title {
    margin-top: 30px;
  }
  article,
  aside {
    width: 100%;
  }
  aside {
    margin-top: 60px;
  }
  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }
  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }
  .post-title {
    font-size: 1.375rem;
  }
  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }

  /* MENU */
  .menu-content {
    margin-top: 20%;
  }

  /* CONTACT */
  #contact .page-title {
    margin-top: 40px;
  }

  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 100%;
  }

  /* 店舗情報・地図 / SNS */
  #location .wrapper,
  #sns .wrapper {
    flex-direction: column;
  }
  .location-info,
  .location-map,
  .sns-box {
    width: 100%;
  }
  .sns-box {
    margin-bottom: 30px;
  }
}
