body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
p {
  line-height: 2em;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 2em;
  /* background-color: blue; */
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.bg-gray {
  background-color: #e4e4e4;
  padding: 20px 15px;
  border: 1px solid #cccccc;
}
#sidebar {
  /* text-align: center; */
  width: 23%;
}
#sidebar ul {
  list-style: none;
}
#sidebar h2 {
  font-size: 15px;
  padding-left: 10px;
  border-left: 3px solid #000;
  line-height: 1em;
  margin-bottom: 18px;
}
#sidebar li {
  height: 32px;
  line-height: 32px;
  background-color: #ffffff;
  border-top: 0.1px solid #cccccc;
  border-left: 0.1px solid #cccccc;
  border-right: 0.1px solid #cccccc;
}
#sidebar li:last-child {
  border-bottom: 0.1px solid #cccccc;
}
#sidebar a {
  text-decoration: none;
  padding-left: 12px;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#sidebar a:hover {
  padding-left: 12px;
  background-color: #000000;
  color: #ffffff;
}
.box {
  margin: 15px 0;
}
.box:first-child {
  margin-top: 0px;
}
#main {
  text-align: left;
  width: 73%;
  padding-bottom: 95px;
  /* background-color: aquamarine; */
}
#main h2 {
  margin: 15px 0px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  background-image: url(./images/mark1.png);
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding: 0px 0px 0px 35px;
}
#main h2:first-child {
  margin-top: 0;
}
#main h3 {
  background: linear-gradient(#fff, #ebebeb);
  font-size: 13px;
  margin: 15px 0px;
  padding: 0 15px;
  height: 38px;
  line-height: 38px;
  border: #cccccc 2px solid;
}
#main h4 {
  padding: 0 15px;
  font-weight: bold;
  margin-top: 15px;
}
#main p {
  font-size: 13px;
  padding: 0 15px;
  margin-bottom: 25px;
}
#main a {
  color: #000000;
}
.news {
  height: 150px;
  overflow-y: scroll;
  padding: 0 15px;
}
.news dt {
  display: inline-block;
  width: 13%;
  min-width: 100px;
  border-bottom: 1px solid #ccc;
}
.news dd {
  display: inline-block;
  width: 86%;
  border-bottom: 1px solid #ccc;
}
.new {
  background-color: #ed462f;
  color: #fff;
  font-size: 10px;
  padding: 0 5px;
  border-radius: 2px;
}
footer {
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
