body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

li {
  list-style: none;
}
li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
li a:hover {
  color: #e6e9e8;
}

.phone-call {
  color: #6c757d;
  /* text-align: right; */
}
.phone-call-reserve {
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: normal;
}
.phone-call-number {
  font-weight: bold;
  font-size: 30px;
}

.font-weight-bold {
  font-weight: bold;
}

#key-visual {
  background-image: url(./images/top-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  text-align: right;
}

.key-visual-content {
  margin-top: 60px;
  display: inline-block;
  width: 560px;
  height: 300px;
  background-color: white;
  /* position: absolute;
  top: 50px; */
  border-radius: 5px;
  padding: 30px 15px;
  /* box-sizing: border-box; */
}
.key-visual-content h2 {
  margin-bottom: 15px;
  font-size: 3.5rem;
  text-align: left;
  font-weight: 300;
  line-height: 1.2;
  font-family: inherit;
}
.key-visual-content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}
.key-visual-content p:last-child {
  font-size: 12px;
  font-weight: 400;
}

hr {
  margin: 25px 0 20px 0;
}

.wrapper {
  max-width: 1110px;
  /* background-color: dodgerblue; */
  margin: 0 auto;
  /* padding: 0 4%; */
}

.page-header {
  display: flex;
  justify-content: space-between;
}
.page-header-call {
  display: flex;
  align-items: center;
}

.logo {
  width: 280px;
  padding: 6px 0;
}

.web-reserve {
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  background-color: #6c757d;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 0 0 25px;
  transition: 0.2s;
}
.web-reserve:hover {
  background-color: #5a6268;
  color: #ffffff;
}

.main-nav {
  background-color: #343a40;
  height: 55px;
}
.main-nav-item {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  /* width: 60%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-nav-item a {
  padding: 0.5rem 1rem;
  /* padding-left: 35px;
  padding-right: 35px; */
  color: #878b8f;
  text-decoration: none;
}
.right {
  text-align: right;
}
